/*
* IE CSS
*
* CSS targeted specifically for Internet Explorer for Windows.
*
* Properties starting with an underscore _ are for IE 5 and 6 only.
* Properties starting with head:first-child+body are for IE7 only.
* Properties with a child selector (>) or sibling selector (+) are for IE7 only.
*
*/

#search {
  margin-left:30%;
}

/*
* Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency.
*/

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab
{
_display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
_di\splay: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

ul.primary,
ul.secondary
{
_width: 100%; /* Otherwise IE5 treats the ul as floated */
_w\idth: auto; /* Reset to auto width for IE6 */
}

ul.primary li a,
ul.primary li a:visited
{
_background: url(images/tab-left-ie6.png) no-repeat left -38px;
_font-weight: bold;
_text-decoration: none;
_color: #777
}

ul.primary li a .tab
{
_background: url(images/tab-right-ie6.png) no-repeat right -38px;
}

ul.primary li a:hover
{
_background: url(images/tab-left-ie6.png) no-repeat left -76px;
}

ul.primary li a:hover .tab
{
_background: url(images/tab-right-ie6.png) no-repeat right -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover
{
_background: url(images/tab-left-ie6.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab
{
_background: url(images/tab-right-ie6.png) no-repeat right 0;
}

blockquote
{
_width:80%;
}

code, pre
{
_width:95%;
}