body {
  font: normal normal normal 13px/23px Verdana, sans-serif;
  color:#444;
  background: #fff url('images/header.jpg') repeat-x;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5 {
  font-weight:500;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  color:#df0000;
  margin:0.25em 0;
}

h1 a:link, h1 a:visited {
 color: #df0000;
}

h2 {
  font-size:20px;
  margin:0.5em 0;
}

h3 {
  font-size:18px;
}

h4 {
  font-size:17px;
}

h5 {
  font-size:16px;
}

h6 {
  font-size:14px;
}

a:link,a:visited {
  color:#2763A5;
  font-weight:normal;
  text-decoration:none;
}

a:hover {
  color:#E90017;
  text-decoration:underline;
}


#container {
  width:95%;
  margin:0 auto;
  max-width:1270px;
  min-width: 760px;
}

/*----------Header----------*/

#header {
  height:107px;
}

#header img {
  /*height:55px;*/
  margin:12px 12px 0 0;
  padding:0;
  float:left;
}

/*----------Site name----------*/

#site-name a {
  font-size: 46px;
  color:#011ca1;
  float:left;
  margin: 23px 0 0 0;
  text-decoration:none;
}
/*----------Primary navigation----------*/

.primary-links {
  position:absolute;
  top:78px;
}

.primary-links li.first {
  padding-left:0;
}

.primary-links a, .primary-links a:visited {
  display:inline-block;
  font-weight:bold;
  line-height:27px;
  text-decoration:none;
  padding: 0 1em;
  color: #000;
}

.primary-links a:hover, .primary-links a:active {
  color: #6e6e6e;
}

#sec {
  margin: 30px 0 0 25px;
  display:inline-block;
}

.secondary-links {
  color:#000;
}

.secondary-links li  {
   border-left: 1px solid #0066CC;
}

.secondary-links li.last  {
   border-right: 1px solid #0066CC;
}


.secondary-links li a {
    color:#0000CC;
}

.secondary-links li a:hover, .primary-links li a:active {
  color: #000066;
}

.secondary-links li .active {
  color: #000;
}


/*----------Content and siderar-----------*/
#content_sidebar {
  float:left;
  margin:1em 0;
  overflow:hidden;
  width:71%;
}

#sidebar {
  background: url('images/sidebar.gif') repeat-y scroll left bottom;
  float:right;
  width:28%;
  padding:0 0 27px 0;
}

#sidebar .block  {
  margin:10px 0 0 30px;
}

#sidebar .title {
  color:#011CA1;
  margin:.5em 0;
}

#edit-keywords-wrapper {
  display:inline;
}

#edit-refine-wrapper {
  position: absolute;
  color:#000;
  margin-top:3px;
}

#footer-message {
  font-size:11px;
  text-align:center;
}

/*----------node styles----------*/
.node {
  margin:0 0 2em; /* 26px */
}

.node .content p {
  margin:0 0 1em 0;
}

.node .submitted {
  font-size:11px;
  color:#a3a3a3;
  width:100%;
  clear:both;
}

.submitted ul.links {
  background:url('icons/tag_red.png') no-repeat 0 7px;
  padding:0 0 0 15px;
  float:right;
}

.nodeLinks {
  font-size:12px;
  clear:both;
}

.picture {
  float: left;
  margin:5px 10px 0 0;
}

/*----------comment styles----------*/

.comment {
  clear:both;
  margin: 5px 0 0 0;
}

.comment .content ul {
  margin-left:60px;
}

#comment-form .form-item label {
  display:inline;
}

#comment-form .form-item a {
  font-size:16px;
  font-weight:bold;
}

.comment .csubmitted {
  border-top: 1px solid #C9D9F0;
  border-right: 1px solid #C9D9F0;
  border-left: 1px solid #C9D9F0;
  border-bottom: 1px solid #D3E3FB;
  background: #F3F2FF;
  font-size:11px;
  color:#a3a3a3;
  height:2em;
}

.comment .csubmitted a img {
  margin:5px 3px 0 5px;
  float:left;
}

.comment .csubmitted a img.new {
  margin:3px 5px 0 5px;
  float:left;
}

.comment .content {
  border-bottom: 1px solid #C9D9F0;
  border-right: 1px solid #C9D9F0;
  border-left: 1px solid #C9D9F0;
  padding: 5px 10px;
  overflow: auto;
}

.comment .content p {
 margin:0 0 4px 0;
}

.comment .links {
  font-size:11px;
  text-align:right;
}

.comcount {
  font-size:0.8em;
  color:#a1a1a1;
}

#comments .box, .node-form, .profile {
  margin: 20px 0;
  padding: 10px;
  background: #F3F2FF;
  border: 1px solid #d4e4f8;
  clear:both;
}

div.codeblock {
  padding: 0;
  border: none;
  background:none;
}

/*----------footer----------*/
#footer {
  clear:both;
  background:#638EC6;
  border-top:2px solid #556D8D;
  border-bottom:1px solid #556D8D;
  min-height:60px;
}

#FooterWrapper {
  max-width:1270px;
  min-width:760px;
  width:95%;
  margin:7px auto;
  color:#fff;
  font-size:11px;
}

#footer a {
  color:#E6E6FF;
}

#footer1, #footer2, #footer3 {
  width:30%;
  display:inline-block;
  overflow:hidden;
  vertical-align:top;
  padding: 0 10px;
}

.footert {
  width:100%;
  font-size:10px;
  color:#fff;
  text-align:right;
}

/*----------icons for links----------*/

.node_read_more a {
  background:url('icons/page_white_go.png') no-repeat;
  padding:0 0 5px 20px;
}

.comment_comments a {
  background:url('icons/comments.png') no-repeat;
  padding:0 0 5px 20px;
}

.comment_new_comments a {
  background:url('icons/newcomment.png') no-repeat;
  padding:0 0 5px 20px;
}

.comment_add a {
  background:url('icons/comment_add.png') no-repeat;
  padding:0 0 5px 20px;
}

.book_printer a {
  background:url('icons/printer.png') no-repeat;
  padding:0 0 5px 20px;
}

.book_add_child a {
  background:url('icons/page_white_add.png') no-repeat;
  padding:0 0 5px 20px;
}

.blog_usernames_blog a {
  background:url('icons/user.png') no-repeat;
  padding:0 0 5px 20px;
}

.flag-bookmarks a {
  background:url('icons/star.png') no-repeat;
  padding:0 0 5px 20px;
}

#block-user-3 ul li {
  background:url('icons/user.png') no-repeat;
  padding:0 0 5px 20px;
}

/*----------list styles----------*/

ul.menu, .item-list ul {
  font-size:12px;
  line-height: 17px;
  margin: 0.5em 0 0 -0.5em; /* 6px */
  padding:0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0;
}

.content ol li, .content ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: .16em 0 .16em .5em; /* 1.92px and 6px */
}

ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .25em 1.5em; /* 3px and 18px */
  list-style-type: none;
  list-style-image: none;
  background: transparent url('images/menu-leaf.gif') no-repeat 1px .35em;
}

.content ol li {
  padding: 0 0 .3em;
  margin-left: 2em;
}

.content ul li.expanded {
  background: transparent url('images/menu-expanded.gif') no-repeat 1px .35em;
}

.content ul li.collapsed {
  background: transparent url('images/menu-collapsed.gif') no-repeat 0px .35em;
}

.content ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

ul.links li {
  background:none;
  list-style:none;
  padding:0 .5em;
}

.node .content ul li {
  padding:0 0 0 20px;
  line-height:26px;
  list-style-type: none;
  list-style-image: none;
  background: transparent url('images/menu-leaf.gif') no-repeat 1px .8em;
}

.content dl dt {
  margin:1em 0;
}

/*---------------user-login-form---remove center alignment---------------*/
#user-login-form {
  margin:0;
  padding:0 0 0 10px;
  text-align:left;
}

.form-item {
  text-align:left;
  margin:0;
  padding:0;
}

/*---------------Book navigation styles---------------*/

.book-navigation .menu {
  border-top: 1px solid #E1E1E1;
  padding: 1em 0 0 3em;
  background:#F9FAFF;
}

.book-navigation .page-links {
  border-top: 1px solid #A4A7C0;
  border-bottom: 1px solid #A4A7C0;
  text-align: center;
  padding: 7px;
  margin:0 0 7px 0;
  background: #F3F2FF;
  clear:both;
}

.book-navigation .page-previous {
  text-align: left;
  width: 39%;
  display: block;
  float: left;
  background:url('icons/resultset_previous.png') no-repeat 0 4px;
  padding: 0 0 0 20px;
}

.book-navigation .page-up {
  padding: 0 5px;
}

.book-navigation .page-next {
  text-align: right;
  width: 39%;
  display: block;
  float: right;
  background:url('icons/resultset_next.png') no-repeat 100% 4px;
  padding: 0 20px 0 0;
}

/*---------------table styles---------------*/
table {
  margin:10px 0;
  width:100%;
}

tr.even,tr.odd,tbody th {
  border:solid #E1E1E1;
  border-width:1px 0;
}

tr.even {
  background-color:#fff;
}

tr.odd {
  background-color:#F9FAFF;
}

td.region,td.module,td.container {
  background-color:#638EC6;
  border-bottom:1px solid #A4A7C0;
  color:#000;
  font-weight:bold;
}

td.container .name a  {
  color:#fff;
}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container {
  border-top-width:0;
}

td.menu-disabled,td.menu-disabled a {
  background-color:#D5C2C2;
  color:#000;
}

td.active {
  background-color:#f7f7f7;
}

/*---------------forum styles---------------*/

#forum thead th {
  border-bottom:2px solid #A4A7C0;
  color:#494949;
  font-weight:bold;
  font-size:11px;
  text-align:center;
}

#forum td,th {
  padding:5px 0;
}

#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}

#forum tr td.forum {
  padding-left: 5px;
  background-image: none;
}

#forum tr.new-topics td.forum {
  background-image: none;
}

#forum div.indent {
  margin-left: 20px;
}

.forum-topic-navigation {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  text-align: center;
  padding: 7px;
  background: #F9FAFF;
  clear:both;
}

.forum-topic-navigation .topic-previous {
  text-align: right;
  float: left;
  width: 46%;
  background:url('icons/resultset_previous.png') no-repeat 0 4px;
  padding: 0 0 0 20px;
}

.forum-topic-navigation .topic-next {
  text-align: left;
  float: right;
  width: 46%;
  background:url('icons/resultset_next.png') no-repeat 100% 4px;
  padding: 0 20px 0 0;
}

#forum ul.icondesc li {
  list-style:none;
  background: none;
}

#forum ul.icondesc {
  margin: 2em 0 1em 0;
}

#forum td.container {
  padding-left: 5px;
}

#forum .name a {
  font-weight:bold;
  font-size:12px;
}

#forum .description {
  font-size: 11px;
}

#forum td.posts, #forum td.topics, #forum td.replies {
  width:10%;
  font-size:11px;
}

#forum td.last-reply, #forum td.created {
  width:21%;
  overflow:hidden;
  padding:0 7px;
  font-size:11px;
}

#forum td.icon img {
  padding: 5px 7px 0 0;
}

#forum td.title, #tracker {
  font-size:12px;
}

#forum {
  line-height:20px;
}


/*--------- Tabs styles -----------*/

div.tabs {
  margin: 10px 0 5px 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(images/tab-bar.png) repeat-x left bottom;
}

ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left -38px;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(images/tab-right.png) no-repeat right -38px;
}

ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left -76px;
}

ul.primary li a:hover .tab {
  background: url(images/tab-right.png) no-repeat right -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(images/tab-left.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(images/tab-right.png) no-repeat right 0;
}

/*-----------Misc styles--------------*/

.mission {
  background:#F9FAFF;
  border:solid 1px #E1E1E1;
  padding:10px;
  margin:1em 0;
}

.messages {
  padding: 2em 1em;
  border: 1px solid #C9D9F0;
  background: #F9FAFF;
  color:#C80000;
  font-size:16px;
  margin:1em 0;
  text-align:center;
}

.messages ul {
  padding: 0 0 0 1em; /* 16px */
}

div.error {
  border: 2px solid #F00;
  padding: 2em 1em;
  margin:1em 0;
  text-align:center;
}

blockquote, cite, q {
  margin:1em;
  padding:0 0 0 1em;
  font-style:italic;
  color: #686868;
  border-left: 4px solid;
  display:block;
  overflow:auto;
  quotes:none;
}

code, pre {
  background:#F3F2FF;
  border:1px dashed #4563C0;
  display:block;
  overflow:auto;
  padding:10px;
  margin:10px;
  white-space: pre;
}

hr {
  margin:0;
  padding:0;
  border:none;
  height:1px;
  background:#739BC7;
}

.profile h3 {
  border:none;
}

#attachments {
  clear:both;
}

#edit-taxonomy-1-wrapper {
  float:left;
  width:50%;
}

#edit-taxonomy-1-wrapper + #edit-taxonomy-2-wrapper {
  float:left;
  width:50%;
  text-align:center;
}

#search {
  margin-left:70%;
  top:26px;
  position:absolute;
}

dl.search-results dt.title a {
  color:#df0000;
  font-size:18px;
}

fieldset {
  border: 1px solid #cacaca;
}

#aggregator .feed-item {
  border-bottom: 1px solid #cacaca;
}

#aggregator .feed-item h3 a{
  color:#df0000;
}

.gallery {
  width:100%;
  display:block;
}

.gallery img {
  float:left;
  padding:10px;
  width:220px;
  height:150px;
}

#block-poll-0 div.title  {
  font-size:14px;
  font-weight:600;
  color: #444;
}

.poll .bar {
  background: #E8E6FF;
}
.poll .bar .foreground {
  background: #3B55A4;
}

.clear-block {
  clear:both;
}

.admin .left, .admin .right {
  clear:none;
}

.views-field-comment-count  {
  text-align:center;
}

.item-list ul.pager {
  margin:1em auto;
  white-space:nowrap;
}

.item-list .pager li {
  padding:0;
  margin:0;
}


.item-list .pager li a:link, .item-list .pager li a:visited {
  border:1px solid #e1e1e1;
  background-color: #f9faff;
  padding:5px;
  color:#2763A5;
}

.item-list .pager li.pager-next a, .item-list .pager li.pager-previous a {
  font-weight:bold;
  color:#0000CC;
}

.item-list .pager .pager-current  {
  border:1px solid #e1e1e1;
  background-color: #f9faff;
  padding:5px;
  color:#000;
}

.item-list .pager li a:hover {
  background-color: #CCCCFF;
  color:#E90017;
  text-decoration:none;
}

.feed-icon img {
  float:right;
  padding:2px 0 0 0;
}

.content p img {
  display:block;
  margin: 0 auto;
}

.tips {
  font-size:0.8em;
}
